
$size:150px;

.container{
    background-color: rgb(217, 217, 217);
    width: 100;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.square{
    background-color: lightgreen;
    height: $size;
    width: $size;

    transform: translateX(-100%);
}