
nav{
    display: flex;
    justify-content: space-between;
    background-color: $primary-color;
    color: $navbar-text-color;
    position: sticky;

    div{
        display: flex;
    }

    p{
        font-size:20px;
        padding: 0 10px;
    }

    #menu-button{
        display: none;
    }
    

    #menu{
        display: flex;
        transition: all 1s cubic-bezier(.84,-1.38,.16,2.03);
    
        li{
            list-style: none;
            padding: 0 20px;
        }
        a{
            color: $navbar-text-color;
        }
    }
}

//Le nesting




//Utiliser le nesting pour mettre (nav p) et (nav > div) dans nav directement 

@media screen and (max-width:600px) {
    #menu-button{
        display: block;
        fill: $navbar-text-color;
        padding: 5px;
        transition: all 0.3s ease-in-out;
        cursor: pointer;
    }

    #menu-button:hover{
        fill: rgb(31, 191, 249);
        transform: scale(1.2);
    }

    #menu{
        position: absolute;
        flex-direction: column;
        top:60px;
        background-color: $primary-color;
        min-width: 50%;
        min-height: 50vh;
        padding: 10px;
    }

   .menu-opened{
        left:2px;
    }
    .menu-closed{
        left:-100%;
    }

}